<html>
  <head>
    <title>
      Image slider
    </title>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script type="javascript">
    function Ctrl($scope) {
      alert("nella function");
        $scope.currentImage = 0;

        $scope.availableImages = [
            {
              src: "http://aissatechnologies.com/gedinc/img/hunger/poverty1.jpg"
            },
            {
              src: "http://aissatechnologies.com/gedinc/img/hunger/poverty2.jpg"
            },
            {
              src: "http://aissatechnologies.com/gedinc/img/hunger/poverty3.jpg"
            }
        ];

        $scope.nextButton = function() {
          $scope.currentImage++;
          if ($scope.currentImage > ($scope.availableImages.length - 1)) {
            $scope.currentImage = 0;
          }
        };

        $scope.prevButton = function() {
          $scope.currentImage--;
          if ($scope.currentImage < 0) {
            $scope.currentImage = ($scope.availableImages.length - 1);
          }
        };
    }
</script type='text/javascript'>
  </head>
  <body ng-app ng-controller="Ctrl">
    <a ng-click="prevButton()">prevButton</a>
    <img ng-src="{{availableImages[currentImage].src}}"/>
    <a ng-click="nextButton()">nextButton</a>
    <br/>
    currentImage: {{currentImage}}

  </body>
</html>